@font-face {
    font-family: 'markazi_textregular';
    src: url('fonts/markazitext-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/markazitext-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: #EDEFEE;
    font-family: 'markazi_textregular';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

a {
    color: #EDEFEE;
}

.navbar {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    height: 3rem;
    color: #EDEFEE;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    
}

/* Center the logo inside of the header element*/
header > img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Select ul that is descendant of nav*/
nav ul {
    list-style: none;
    text-align: center; 
}

/* Select li that is descendant of nav*/
nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}

section {
    display: flex;

}

article {
    flex: 1;
}

footer {
    display: flex;
    padding: 1.5rem;
}

.copyright {
    text-align: right;
}

footer div {
    flex: 1;
}

.top-logo {
    padding: 2rem;
    text-align: center;
}

/* Style to make images float next to each other */
article img {
    width: 90%; /* Adjust the width as needed */
    margin: 5px; /* Add some margin between images */
    border-radius: 10px;
}

.article-banner {
    position: relative;
    background-image: url("little-lemon-banner.jpeg");
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
  
}

.article-banner h1, .article-banner p {
    position: relative;
}