@font-face {
    font-family: 'markazi_textregular';
    src: url('fonts/markazitext-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/markazitext-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: #EDEFEE;
    font-family: 'markazi_textregular';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

main {
    padding-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

a {
    color: #EDEFEE;
}

/* PSEUDO CLASS*/

a.highlight:hover {
    color: #F4CD14;
    font-size: 2.5rem;
  } 



/* HEADER ------------ */

.top-logo {
    padding: 2rem;
    text-align: center;
}


/* NAVBAR ----------------*/

.navbar {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    height: 3rem;
    color: #EDEFEE;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}


nav ul {
    list-style: none;
    text-align: center; 
}


nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}

/* SECTIONS --------------*/

section {
    display: flex;

}


/* ARTICLES --------------*/

article {
    flex: 1;
}

article img {
    width: 90%; 
    margin: 5px; 
    border-radius: 10px;
}

.article-banner {
    position: relative;
    background-image: url("lemon-pie-banner.jpeg");
    background-size: cover;
    color: rgb(236, 239, 238);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
  
}

.article-banner p {
    font-size: 1.5rem;
    width: 35%;
}

.columns article{
    background-color:#f4e3a4;
    padding: 1rem;
    margin: 10px;
    border-radius: 10%;
    text-align: center;
}

.columns p{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/* FOOTER --------------*/

footer {
    display: flex;
    padding: 1.5rem;
}

.copyright {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.copyright .author{
    font-size: 1rem;
}

footer div {
    flex: 1;
}

.logo-footer{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}





